{% load humanize %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <meta name="HandheldFriendly" content="true" />
      <title>{% trans "Ajover Production Monitor" %}</title>

      <!-- Bootstrap core CSS-->
      <link href="{% static "static_webapp/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
      <!-- Custom fonts for this template-->
      <link href="{% static "static_webapp/vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
      <!-- Page level plugin CSS-->
      <link href="{% static "static_webapp/vendor/datatables/dt/jquery.dataTables.min.css" %}" rel="stylesheet">
      <link href="{% static "static_webapp/vendor/datatables/dt/select.dataTables.min.css" %}" rel="stylesheet">
      <!-- Live Search Select Object -->
      <link href="{% static "static_webapp/vendor/bootstrap/css/bootstrap-multiselect.css" %}" rel="stylesheet">
      <link href="{% static "static_webapp/vendor/bootstrap/css/bootstrap-select.min.css" %}" rel="stylesheet">
      <!-- Custom styles for this template-->
      <link href="{% static "static_webapp/css/sb-admin.css" %}" rel="stylesheet">
      <link href="{% static "static_webapp/css/webappdev-style.css" %}" rel="stylesheet">
      <link href="{% static "static_webapp/css/webapp-style.css" %}" rel="stylesheet">
      <link href="{% static "static_webapp/css/led_scroller.css" %}" rel="stylesheet">
      <!--LED-->
      <link href="{% static "static_webapp/css/Led/jquerysctipttop.css" %}" rel="stylesheet">
   </head>
   <body>
    Buen dia.

    Se indentifico qie el proceso para solicitar los respuestos de la (OT) vinculados a la sede () tuvo una falla a l momento de genererarse
   </body>